<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Azure Manager</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
    {% endblock %}
</head>
<body>
    {% for message in get_flashed_messages() %}
    <div class="alert">{{ message }}</div>
    {% endfor %}
    <h2>
        Azure Manager
    </h2>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">主页</a></li>
            <li><a href="{{ url_for('accountadd') }}">编辑待管理账户</a></li>
            <li><a href="https://t.me/azureboss">购买稳定Azure订阅</a></li>
        </ul>
    </nav>
    {% block content %}{% endblock %}
    <footer>
        <small>购买Azure稳定订阅 请使用<a href="https://t.me/azureboss">Telegram</a> 联系我</small><br>
        <small>&copy; 2021 Powered by Flask</small>
    </footer>
</body>
</html>
