{% extends 'base.html' %}

{% block content %}
    <p>账户 {{ account }} 管理中 <a class="go" href="/account/list"  title="GO!">返回</a></p>
    <form method="post">
      <div>
          <p><label>tag <input type="text" name="tag" autocomplete="off" required></label></p>
        <p><label>区域 <select name="location" required>
            <option value="westus2">美国西2</option>
            <option value="westus3">美国西3</option>
            <option value="centralus">美国中</option>
            <option value="eastus">美西东</option>
            <option value="southeastasia">新加坡</option>
            <option value="eastasia">香港</option>
            <option value="japanwest">日本西</option>
            <option value="japaneast">日本东</option>
            <option value="koreacentral">韩国中</option>
            <option value="koreasouth">韩国南</option>
        </select></label></p>
        <p><label>型号 <select name="size" required>
            <option value="Standard_B1s">B1s</option>
            <option value="Standard_B2s">B2s</option>
            <option value="Standard_D2s_v3">D2s</option>
            <option value="Standard_D4s_v3">D4s</option>
            <option value="Standard_F2s">F2s</option>
            <option value="Standard_F4s">F4s</option>
        </select></label></p>
        <p><label>数量 <select name="set" required>
            <option value="1">创建1台</option>
            <option value="2">创建2台</option>
            <option value="3">创建3台</option>
            <option value="4">创建5台</option>
            <option value="5">创建5台</option>
        </select></label></p>
        <p><label>系统 <select name="os" required>
            <option value="ubuntu18">Ubuntu 18.04 LTS</option>
            <option value="ubuntu16">Ubuntu 16.04 LTS</option>
            <option value="centos">CentOS 7.5</option>
            <option value="debian10">Debian 10</option>
        </select></label></p>
    <input class="btn" type="submit" name="submit" value="Add" onclick="return confirm('Are you sure?')">
      </div>
    </form>
{% endblock %}